<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    body{
      background-color: grey;
    }
  </style>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
  </head>

  <body class="text-center">

    <form class="form-signin">
      <img class="mb-4" src="https://media.merchantcircle.com/24900474/Purple%20Logo_full.jpeg" alt="" width="103" height="76">
    </form>
     <div class="container">
      <div class="card-deck mb-3 text-center">
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" value="Input Button" onclick="location.href = '/';"><h2>Thanks, you paid <strong>$1.00</strong>!</h2></button>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Order Confirmed</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Your order will be activated at: <%=@currentTime%></h1>
            </ul>
            
          </div>
        </div>
  </body>
</html>



