<!doctype html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
    body{
      background-color: grey;
    }
  </style>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
  </head>

  <body class="text-center">
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Date Escape</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getinfo">Get Started</a>
          </li>
          
        </ul>
        
      </div>
    </nav>

      <p>
        <br/>
        <br/>
        <br/>
    </p>

    <form class="form-signin">
      <img class="mb-4" src="http://www.clker.com/cliparts/f/e/J/8/3/w/purple-flame-logo.svg" alt="" width="200" height="150">
    </form>
     <div class="container">
      <div class="card-deck mb-3 text-center" style="background-color:#4A195D">
        
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" value="Input Button" onclick="location.href = '/';"><h2>Thanks, you paid <strong>$1.00</strong>!</h2></button>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Order Confirmed</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <h1 class="h3 mb-3 font-weight-normal">You will receive the phone call at: <%=@currentTime%></h1>
            </ul>
            
          </div>
        </div>

   <!--  <p>Processed: <%=@toProcessed%></p>
    <p>In Progress: <%=@inProgress%></p>
    <p>Enqueued: <%=@toEnqueued%></p> -->
    <p><a href='/charge'>Refresh</a></p>
    <p><a href='/sidekiq'>Dashboard</a></p>
  </body>
</html>


