<!DOCTYPE html>
<html>
<head>
	<title>Testing Dating App</title>
</head>
<body>
	Input Hour and Minute
	<form action="/" method="get">
		<input type ="text" name="Hour">
		<input type ="text" name="Minute">
		<input type="submit" value ="Submit">
	</form>
	<%=@time%>
</body>
</html>