<!DOCTYPE html>
<html>
<head>
	<title>Testing Dating App</title>
</head>
<body>
	Choose the time of call
	<form action="/" method="get">
		<input id="exit-time" name="exit-time" type="time" value=<%=@currentTime%>>
		<input type="submit" value ="Submit">
	</form>
	You have chosen <%=@chosenTime%>
</body>
</html>